@model MemoryCards.Models.CardModel

@{
    ViewData["Title"] = "Create";
}


<style >
    body {
        background-color: #0e192b;
        color: #fff;
         }
</style >

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" style="display: inline;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <a class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </a>
           
        </form>
    <a asp-action="Index" class="btn btn-secondary">Back to list </a>
    </div>
</div>


   

