@model MemoryCards.Models.CardModel

@{
    ViewData["Title"] = "Edit";
}


<style >
    body {
        background-color: #0e192b;
        color: #fff;
         }
</style >

<h1>Edit</h1>

<h4>CardModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
                   
            <a asp-action="Index">
                <input type="submit" value="Save" class="btn btn-primary" />
            </a>
            <a asp-action="Index" class="btn btn-secondary">Back to list </a>
        </form>
          
                 
          
    </div>
</div>


           


