
@{
    ViewData["Title"] = "Gratulation";
}

<style >
    body {
        background-color: #0e192b;
        color: #fff;
         }
</style >

<h1>Gratulation</h1>

<a asp-action="Index" class="btn btn-secondary">Back to list </a>
